<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Test Examples Error Page</title>
</head>

<body>
<main>
    <div class="container">
        <h1 class="mt-5 text-danger" th:text="${heading}"></h1>
        <p class="lead" th:text="${description}"></p>
    </div>
</main>
</body>
</html>